<mat-form-field appearance="fill">
  <mat-label>Email</mat-label>
  <input matInput #email type="email" />
</mat-form-field>
<mat-form-field appearance="fill">
  <mat-label>Password</mat-label>
  <input matInput #password type="password" />
</mat-form-field>
<div style="margin-bottom: 20px">
  <mat-checkbox #isAdmin class="example-margin">Signin as an admin</mat-checkbox>
</div>
<button mat-raised-button color="primary" (click)="signin(email.value, password.value, isAdmin.checked)">Signin</button>
